<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>

    <style type="text/css">
        html, body {
            height: 100%;
            margin: 0;
        }
    </style>
</head>
<body>

<form action="/parties" method="post" class="search-bar">
  <div class="row">
      <div class='col-sm-6'>
          <div class="form-group">
              <div class='input-group date' id='datetimepicker1'>
                  <input type='text' name="datetime" class="form-control" placeholder="When?" />
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
          </div>
      </div>
  </div>
  <input type="text" name="address" id="search" placeholder="Where?"><br>
  <button class="search-button" type="submit">Search</button>
</form>

<script type="text/javascript">
  $(function () {
    $('#datetimepicker1').datetimepicker();
  });
</script>
    
<script>
  function activatePlacesSearch() {
    var input = document.getElementById('search');
    var autocomplete = new google.maps.places.Autocomplete(input);
  }
</script>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_PLACES'] %>&libraries=places&callback=activatePlacesSearch" async defer></script>

</body>
</html>