<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>

    <style type="text/css">
        html, body {
            height: 100%;
            margin: 0;
        }
    </style>
</head>
<body>

<div class="container">
  <div class="row">
    <div class='col-sm-6'>
      <div class="form-group">
        <div class='input-group date' id='datetimepicker1'>
          <input type='text' class="form-control" />
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
      </div>
    </div>
    <script type="text/javascript">
      $(function () {
        $('#datetimepicker1').datetimepicker();
      });
    </script>
  </div>
</div>

<div class="search-bar-div">
  <form action="/search" method="get" class="search-bar">
    <input type="text" name="address" id="search" placeholder="Where?">
  </form>
  <button class="search-button" type="submit">Search</button>
</div>
    
<script>
  function activatePlacesSearch() {
    var input = document.getElementById('search');
    var autocomplete = new google.maps.places.Autocomplete(input);
  }
</script>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_PLACES'] %>&libraries=places&callback=activatePlacesSearch" async defer></script>

</body>
</html>